<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cherrytea</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="/auth/" method="POST">
        {% csrf_token %}
        {{ auth_form }}
        <input type="submit" value="Go"/>
    </form>
</body>
</html>
