{% extends "base.html" %}

{% block content %}
    <h1>{{ group.name }} donation plan</h1>
    <h3>Charities:<br/>
    {% for charity in group.charities.all %}
        - {{ charity.name }}<br/>
    {% endfor %}</h3>
    <form action="." method="POST">
        {% csrf_token %}
        {{ plan_form.day_of_week.label }}
        {{ plan_form.day_of_week }}
        {{ plan_form.amount.label }}
        {{ plan_form.amount }}
        {% if not user.stripe_user.cards %}
            {{ plan_form.card }}
        {% endif %}
        <input type="submit" value="Create plan"/>
    </form>
{% endblock %}
